@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
body{
    font-family: 'Noto Sans', Tangerine, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center
}
.main{
    background-color: bisque;
}